<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seungchan.distributemoney_v2.distribute.mapper.ObjectDataDistributeMapper">

    <select id="selectObjectDataDistribute" resultType="com.seungchan.distributemoney_v2.distribute.data.ObjectDataDistribute">
        SELECT
        *
        FROM DISTRIBUTE
        WHERE
        `room_id` = #{roomId}
        AND
        `token` = #{token}
    </select>


    <select id="selectObjectDataDistributeForUpdate" resultType="com.seungchan.distributemoney_v2.distribute.data.ObjectDataDistribute">
        SELECT
        *
        FROM DISTRIBUTE
        WHERE
        `room_id` = #{roomId}
        AND
        `token` = #{token}
        FOR UPDATE
    </select>


    <select id="selectObjectDataDistributeToEnd" resultType="com.seungchan.distributemoney_v2.distribute.data.ObjectDataDistribute">
        SELECT *
        FROM DISTRIBUTE
        WHERE `create_at` <![CDATA[ < ]]> #{date}
            AND `is_end` = 0
        LIMIT 1
        FOR UPDATE
    </select>


    <sql id="insertObjectDataDistribute">
        INSERT INTO DISTRIBUTE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="objectDataDistribute.roomId != null">
                `room_id`,
            </if>
            <if test="objectDataDistribute.userId != null">
                `user_id`,
            </if>
            <if test="objectDataDistribute.token != null">
                `token`,
            </if>
            <if test="objectDataDistribute.totalValue != null">
                `total_value`,
            </if>
            <if test="objectDataDistribute.seqCount != null">
                `seq_count`,
            </if>
            <if test="objectDataDistribute.createAt != null">
                `create_at`,
            </if>
            <if test="objectDataDistribute.isEnd != null">
                `is_end`,
            </if>
            <if test="objectDataDistribute.endAt != null">
                `end_at`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="objectDataDistribute.roomId != null">
                #{objectDataDistribute.roomId},
            </if>
            <if test="objectDataDistribute.userId != null">
                #{objectDataDistribute.userId},
            </if>
            <if test="objectDataDistribute.token != null">
                #{objectDataDistribute.token},
            </if>
            <if test="objectDataDistribute.totalValue != null">
                #{objectDataDistribute.totalValue},
            </if>
            <if test="objectDataDistribute.seqCount != null">
                #{objectDataDistribute.seqCount},
            </if>
            <if test="objectDataDistribute.createAt != null">
                #{objectDataDistribute.createAt},
            </if>
            <if test="objectDataDistribute.isEnd != null">
                #{objectDataDistribute.isEnd},
            </if>
            <if test="objectDataDistribute.endAt != null">
                #{objectDataDistribute.endAt},
            </if>
        </trim>
    </sql>


    <insert id="insertObjectDataDistribute" parameterType="com.seungchan.distributemoney_v2.distribute.data.ObjectDataDistribute">
        <include refid="insertObjectDataDistribute"/>
    </insert>


    <insert id="upsertObjectDataDistribute" parameterType="com.seungchan.distributemoney_v2.distribute.data.ObjectDataDistribute">
        <include refid="insertObjectDataDistribute"/>
        ON DUPLICATE KEY UPDATE
        `user_id` = VALUES(`user_id`),
        `total_value` = VALUES(`total_value`),
        `seq_count` = VALUES(`seq_count`),
        `create_at` = VALUES(`create_at`),
        `is_end` = VALUES(`is_end`),
        `end_at` = VALUES(`end_at`)
    </insert>


    <sql id="insertObjectDataDistributeList">
        INSERT INTO DISTRIBUTE
        (
        `room_id`,
        `user_id`,
        `token`,
        `total_value`,
        `seq_count`,
        `create_at`,
        `is_end`,
        `end_at`
        )
        VALUES
        <foreach collection = "objectDataDistributeList" index = "index" item = "item" separator = ",">
            (
            #{item.roomId},
            #{item.userId},
            #{item.token},
            #{item.totalValue},
            #{item.seqCount},
            #{item.createAt},
            #{item.isEnd},
            #{item.endAt}
            )
        </foreach>
    </sql>


    <insert id="insertObjectDataDistributeList" parameterType="com.seungchan.distributemoney_v2.distribute.data.ObjectDataDistribute">
        <include refid="insertObjectDataDistributeList"/>
    </insert>

    <insert id="upsertObjectDataDistributeList" parameterType="com.seungchan.distributemoney_v2.distribute.data.ObjectDataDistribute">
        <include refid="insertObjectDataDistributeList"/>
        ON DUPLICATE KEY UPDATE
        `user_id` = VALUES(`user_id`),
        `total_value` = VALUES(`total_value`),
        `seq_count` = VALUES(`seq_count`),
        `create_at` = VALUES(`create_at`),
        `is_end` = VALUES(`is_end`),
        `end_at` = VALUES(`end_at`)
    </insert>


    <update id="updateObjectDataDistribute" parameterType="com.seungchan.distributemoney_v2.distribute.data.ObjectDataDistribute">
        UPDATE DISTRIBUTE
        <set>
            <if test="objectDataDistribute.userId != null">
                `user_id` = #{objectDataDistribute.userId},
            </if>
            <if test="objectDataDistribute.totalValue != null">
                `total_value` = #{objectDataDistribute.totalValue},
            </if>
            <if test="objectDataDistribute.seqCount != null">
                `seq_count` = #{objectDataDistribute.seqCount},
            </if>
            <if test="objectDataDistribute.createAt != null">
                `create_at` = #{objectDataDistribute.createAt},
            </if>
            <if test="objectDataDistribute.isEnd != null">
                `is_end` = #{objectDataDistribute.isEnd},
            </if>
            <if test="objectDataDistribute.endAt != null">
                `end_at` = #{objectDataDistribute.endAt},
            </if>
        </set>
        WHERE
        `room_id` = #{objectDataDistribute.roomId}
        AND
        `token` = #{objectDataDistribute.token}
    </update>


    <delete id="deleteObjectDataDistribute">
        DELETE FROM DISTRIBUTE
        WHERE
        `room_id` = #{roomId}
        AND
        `token` = #{token}
    </delete>

</mapper>